//section
//    nav.navbar.navbar-default.categories__nav
//        .container
//            .navbar-header
//                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
//                    span.sr-only Toggle navigation
//                    span.icon-bar
//                    span.icon-bar
//                    span.icon-bar
//                a.navbar-brand(href="#") Моё!
//            #bs-example-navbar-collapse-1.collapse.navbar-collapse
//                ul.nav.navbar-nav
//                    li
//                        a(ui-sref="catalogue")
//                            | Все
//                    li(ng-repeat='category in prods.categories')
//                        //.active
//                        a(ng-click="vm.categorySet(category.http_request)")
//                            | {{category.name}}
//                            //span.sr-only (current)
//                ul.nav.navbar-nav.navbar-right
//                    li
//                        cart-btn
.container
    .row
        .col-md-3
            h3 {{ vm.catID }}
            h3 Фильтр
            h5 Бренд
            select.form-control.input-sm(data-ng-model="vm.search.brand")
                option(label="Все бренды" value="") Все бренды
                option(ng-repeat="goodie in vm.goodies | myUnique:'brand'" value="{{goodie.brand}}") {{goodie.brand}}
            h5 Название
            input.form-control.input-sm(type='text', placeholder='Название', ng-model="vm.search.name" )
            h5 Цена
            form.form-inline
                .input-group.col-md-5
                    .input-group-addon от
                    input.form-control.input-sm(type="number" ng-model="vm.search.price.min")
                .input-group.col-md-6
                    .input-group-addon до
                    input.form-control.input-sm(type="number" ng-model="vm.search.price.max" data-ng-change="vm.updateProds()")
            h5 Теги
            tags-input(
            ng-model="vm.search.tags"
            onTagAdded="vm.updateProds()"
            placeholder="Введите теги"
            addFromAutocompleteOnly="true"
            )
                auto-complete(source="vm.loadTags($query)" min-length="1")
            p.text-right
                a.btn.btn-link.btn-sm(href="#" data-ng-click="vm.resetFilter()") Сборсить фильтр
        .col-md-9
            .row
                .col-sm-6.col-md-4(ng-repeat='goodie in vm.filteredGoodies')
                    product-card(product="goodie")
            .row.text-center
                uib-pagination(
                ng-model="vm.paginator.currentPage"
                data-ng-change="vm.updateProds()"
                total-items="vm.paginator.totalItems"
                max-size="vm.paginator.maxSize"
                boundary-links="true"
                )
